html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #181818;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #FFF;
}

.main {
    margin-left: -30%;
    width: 160%;
    background: #ffffff;
    font-family: 'Didact Gothic',
        sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #000000;
}

#wrapper {
    position: relative;
    padding: 5em 0em 7em 0em;
    background: #FFF;
}

.logout {
    margin-left: 80%;
    margin-top: -4%;
}

.paginate {
    margin-left: 30%;
    padding-bottom: 50px;
    padding-top: 50px;
}


.user_content {
    display: inline-block;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search_title {
    display: flex;
    padding-left: 30%;
    padding-top: 30px;
    font-size: 1.2rem;
}

.search_btn {
    margin-top: 70px;
    margin-left: 80%;
}

.search_box{
    margin-left: 60%;
    margin-top: -5%;
    font-size: 1.2rem;
}
