div.user_data_1 {
    position: absolute;
    padding-left: 350px;
    padding-top: 50px;
}

label.email {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=text],
input[type=password],
input[type=email] {

    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 350px;
    height: 30px;
}

div.username,
div.username_katakana,
div.birthday,
div.admission_date {
    overflow: hidden;
}

.form_block {
    margin-left: -400px;
    margin-bottom: 30px;
}

.form_block_date {
    margin-left: -370px;
    margin-bottom: 30px;
}

input[class=name] {
    width: 150px;
    float: left;
    margin-right: 50px;
    margin-top: 30px;
}

/* div.admission_date,
div.birthday {
    padding-left: 20px;

} */

input[class=birthday],
input[class=admission_date] {
    width: 100px;
    float: left;
    margin-right: 25px;
    margin-top: 30px;
}

div.submit {
    padding-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[class=success] {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
