div.contents {
    position: absolute;
    text-align: center;
    padding-top: 250px;
}

p.title {
    font-size: 2rem;
}

div.return_login {
    padding-top: 150px;

}

a.added {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 30px 30px 0;
    padding-bottom: 30px
}
